body {
    background-color:white;
  }
  #wrapper {
      display: flex;
      flex-direction: column;
  }
  #toppmeny {
    flex-direction: column;  
    flex: 1;
  }
  div {
    color: blue;
  }
  p {
    color: red;
  }
#hovedlag {
  background-color:gray;
}
#underlag {
  background-color: lightblue;
}
.toppmeny {
    display: inline;
}