.wrapper {
    display: flex;
    flex-direction: column;
    border:1px solid darkslategray;
}

.underlag,
.hovedlag {
  display: flex;
  flex: 1;
  padding-left: 10px;
  border-bottom:1px solid darkslategray;
  justify-content:space-between;
  flex-wrap: wrap;
}

.underlag span,
.hovedlag span{
  flex:1;
  text-align: left;
  display:inline-block;
}

.underlag{
  background: #ececec;
  padding-left:10px;
  font-size: 13;
}

.underlag span:first-child,
.hovedlag span:first-child{
  width:50px;
  flex: none;
}
.hovedlag span:second-child{
  padding-left:20px;
}

.underlag span:nth-child(2),
.hovedlag span:nth-child(2){
  min-width:150px;
  max-width:20%;
}
.hovedlag{
  font-size: 14;
  font-weight: bolder;  
}

.underlag[data-content="DOWN"],
.hovedlag[data-content="DOWN"]{
  background-color:#FFB5B5;
}

.underlag[data-content="UP"],
.hovedlag[data-content="UP"]{
  background-color: lightgreen;
}